header{
    min-height: 4vh;
    
}
main{
    min-height: 92vh;
}
.banner{
height: 25vh;
}

.img-card{
height: 200px;
   
}

.cards-heigth{
height: 500px;
width: 290px;

}
footer{
    min-height: 4vh;
}

.logo{
    height: 30px;
   
}
